* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.container {
  display: flex;
  width: 90%;
  height: 80vh;
  gap: 10px;
}

.panel {
  flex: 1;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease-in;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.panel .img-text {
  
  font-size: 15px;
  padding: 20px;
  width: 100%;
  opacity: 0;              /* hide text by default */
  transition: opacity 0.5s ease-in;
 
 
}
.panel.active .img-text {
  opacity: 1;
}
.panel.active {
  flex: 5;
}